.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 12rem;
  border-bottom: 1px solid rgba(#000, 0.1);
  background-color: #fff;
  position: sticky;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    padding: 2.5rem 6rem;
  }

  @media only screen and (max-width: 576px) {
    flex-direction: column;
    padding: 2.5rem 3rem;
  }

  &__title {
    color: #5d87ff;
    cursor: pointer;
  }

  &__balance {
    background-color: #f3f5f7;
    font-size: 1.8rem;
    color: #2a3547;
    padding: 1.5rem 3rem;
    border-radius: 5rem;

    @media only screen and (max-width: 768px) {
      margin-top: 2rem;
    }

    &-amount {
      color: #5d87ff;
    }
  }
}
