<div class="campaigns-table">
  <p class="campaigns-table__warning" *ngIf="(campaigns | async)?.length == 0">No records found.</p>
  <div class="campaigns-table__border">
    <table class="campaigns-table__data">
      <thead class="campaigns-table__head">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Keywords</th>
          <th>Status</th>
          <th>Town</th>
          <th>Radius</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="campaigns-table__body">
        <tr *ngFor="let campaign of campaigns | async">
          <td>{{ campaign.id }}</td>
          <td>{{ campaign.name }}</td>
          <td>{{ campaign.keywords.join(", ") }}</td>
          <td>{{ campaign.status ? "On" : "Off" }}</td>
          <td>{{ campaign.town }}</td>
          <td>{{ campaign.radius }} km</td>
          <td>
            <p *ngIf="confirmDelete && campaign.id === deleteId">
              Are you sure?
            </p>
            <ul class="campaigns-table__breadcrumb">
              <li
                data-action="view"
                [routerLink]="['/campaign/' + campaign.id]"
                routerLinkActive="router-link-active"
              >
                View
              </li>
              <li data-action="edit">Edit</li>
              <li data-action="delete" (click)="deleteCampaign(campaign.id)">
                Delete
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
