<div class="campaigns-table">
  <div class="campaigns-table__border">
    <table class="campaigns-table__data">
      <thead class="campaigns-table__head">
        <tr>
          <th>ID</th>
          <th>Keywords</th>
          <th>Status</th>
          <th>Town</th>
          <th>Radius</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="campaigns-table__body">
        <tr>
          <td>1</td>
          <td>Something, Another Something</td>
          <td>On</td>
          <td>Krakow</td>
          <td>20 km</td>
          <td>
            <ul class="campaigns-table__breadcrumb">
              <li data-action="view">View</li>
              <li data-action="edit">Edit</li>
              <li data-action="delete">Delete</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>Something, Another Something</td>
          <td>On</td>
          <td>Warsaw</td>
          <td>10 km</td>
          <td>
            <ul class="campaigns-table__breadcrumb">
              <li data-action="view">View</li>
              <li data-action="edit">Edit</li>
              <li data-action="delete">Delete</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
