@font-face {
  font-family: "Lato";
  src: url("./assets/Lato-Bold.ttf") format("ttf"),
    url("./assets/Lato-Regular.ttf") format("ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  background-color: #ebecee;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: 576px) {
    font-size: 50%;
  }

}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 4rem;
  color: #2A3547;
}

h2 {
  font-size: 3rem;
  color: #2A3547;
}

h3 {
  font-size: 2.4rem;
  color: #2A3547;
}



